.carousel {
    position: relative;
    padding: 81px 0;
    &__inner {
        max-width: 750px;
        margin: 0 auto;
        img {
            max-width: 100%;
        }
    }
    .slick-prev,
    .slick-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;
        border: none;
        background: transparent;
        cursor: pointer;
        img {
            width: 31px;
            height: 50px;
        }
    }
    .slick-next {
        right: -66px;
        left: auto;
    }
    .slick-dots {
        display: block;
        text-align: center;
        margin: 0 auto;
        list-style-type: none;
        max-width: 150px;
        padding: 0;
        .slick-active {
            opacity: 0.25;
            color: black;
        }
        li {
            position: relative;
            display: inline-block;
            width: 20px;
            height: 20px;
            margin: 0 5px;
            padding: 0;
            cursor: pointer;
            button {
                font-size: 0;
                line-height: 0;
                display: block;
                width: 20px;
                height: 20px;
                padding: 5px;
                cursor: pointer;
                color: transparent;
                border: 0;
                border-radius: 100%;
                outline: none;
                background: $main-color;
                &::before {
                    font-family: 'slick';
                    font-size: 6px;
                    line-height: 20px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 20px;
                    height: 20px;
                    content: '•';
                    text-align: center;
                    opacity: 0.25;
                    color: black;
                }
            }
        }
    }
}
